<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIoT</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="Notification">Project under gone in 6th semseter</div>
    <main id="swup" class="main devices transition-fade Page2">
        <span id="devicename" th:data-name="${device.id}" class="MainHeader">Device Control</span>
        <span class="MainHeader DeviceHeader">Name:<span th:text="${device.name}" ></span></span>
        <div class="gadget device" th:each=" gadget: ${device.gadgets}">
            <span class="DeviceHeader">Name:<span th:text="${gadget.key}"></span></span>
            <label class="switch"  th:if='${gadget.value.type == "DIG"}'>
            <input onchange="onGadgetChanged(this)"  th:data-name="${gadget.key}" th:data-type="${gadget.value.type}" th:data-state="${gadget.value.state}" type="checkbox" th:checked='${gadget.value.state == "ON"}' >  
            <span class="slider round"></span>
        </label>
        </div>
      
    </main>
    
    <div class="footer">Provide easy access to devices in minutes</div>
   
    <script src="/swup.js"></script>
    <script src="/index.js"></script>
</body>
</html>